body {
  margin: 0 0 55px 0;
}

.nav {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  align-items: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link:active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

/* #image-active:active {
  content: url("https://static.pariksha.co/img/gov/bottomnav/home_selected.svg");
}
#image-active1:active {
  content: url("https://static.pariksha.co/img/gov/bottomnav/doubts_selected.svg");
}

#image-active2:active {
  content: url("https://static.pariksha.co/img/gov/bottomnav/study_material_selected.svg");
}
#image-active3:active {
  content: url("https://static.pariksha.co/img/gov/bottomnav/exam_info_selected.svg");
} */
