.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer #sidebar-image {
  width: 100%;
}
#sidebar-head {
  margin-top: -3rem;
}
#sidebar-head h3 {
  font-size: 1.5rem;
  padding: 0.4rem 0;
  background-color: #ffffffbb;
  border-radius: 10px;
  font-weight: 700;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.side-drawer li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d096ff;
  text-align: left;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 0.5rem 1rem;
}
#copyright-msg {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  opacity: 0.8;
  padding-left: 4%;
  text-align: center;
}

.side-drawer a {
  color: #8539ff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #eac5ff;
}

.right-arrow {
  opacity: 0.6;
  padding-right: 1rem;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
