.card-grid {
  margin-top: 1%;
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: auto auto auto;
}
.bottom-collapse {
  margin-bottom: -6rem;
}
.news-card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff; */
  flex-direction: column;
}
.news-card .card-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.news-card .card-subtext {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 0;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-image {
  border-radius: 4px;
  object-fit: cover;
  width: 25rem;
  height: 20rem;
}

@media (max-width: 992px) {
  .card-grid {
    margin-top: 3%;
    grid-template-columns: auto;
  }

  .bottom-collapse {
    margin-bottom: -9rem;
  }
  .news-card {
    align-items: start;
    margin: 0.2rem 0;
    padding: 0.4rem 0.8rem;
    text-align: left;
    flex-direction: row;
  }
  .card-image {
    margin-right: 2rem;
    min-width: 15rem;
    max-width: 15rem;
    height: 10rem;
  }
  .news-card .card-subtext {
    -webkit-line-clamp: 3; /* number of lines to show */
  }
}

@media (max-width: 768px) {
  .news-card .card-title {
    margin: 0;
    margin-left: -2rem;
    font-size: smaller;
  }

  .bottom-collapse {
    margin-bottom: -7rem;
  }
  .card-image {
    padding-right: 0;
    min-width: 5rem;
    max-width: 5rem;
    height: 8rem;
  }
  .news-card .card-subtext {
    margin-left: -2rem;

    -webkit-line-clamp: 2; /* number of lines to show */
  }
}
