.banner-wrap {
  margin-top: 6%;
}

.banner-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0.2rem;
}

.banner-title {
  text-decoration: underline;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#quote {
  margin: 1rem 0 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#quote > p {
  font-style: italic;
  margin-bottom: 0;
}
#quote > span {
  font-size: 0.7rem;
  font-weight: 700;
}

@media (max-width: 992px) {
  .banner-wrap {
    margin-top: 8%;
  }
}
@media (max-width: 768px) {
  .banner-wrap {
    margin-top: 16%;
  }
  .banner-wrap .banner-title {
    /* color: #fff; */
    text-align: center;
  }
}
@media (max-width: 768px) {
  .banner-wrap {
    margin-top: 22%;
  }
}

/* @media screen and (max-width: 768px) {
  .banner-wrap .banner-subtitle {
    font-size: 18px;
  }
  .banner-wrap .banner-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .banner-wrap .banner-title {
    font-size: 24px;
  }
} */
